name: Update Documentation
on:
  push:
    tags:
    - '*'
jobs:
  build-n-publish:
    name: Update Documentation
    runs-on: ubuntu-latest
    steps:
    - name: Check out repository
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Publish Documentation to github pages
      run: |
        pip install '.[doc]'
        mkdocs gh-deploy --force --clean --verbose
